<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Multiplie rapidement</mat-card-title>
    <mat-card-subtitle>Tables de multiplications</mat-card-subtitle>
  </mat-card-header>
  <app-canvas #drawCanvas *ngIf="currentQuestion" [question]="currentQuestion"></app-canvas>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <app-score-board></app-score-board>
    <p *ngIf="currentQuestion" class="large-text" align="center">
    {{getCurrentQuestion()}}
    </p>
  </mat-card-content>
  <mat-card-actions style="text-align: center;">
    <form *ngIf="questionForm" [formGroup]="questionForm" (ngSubmit)="start()" [ngClass]="{ 'example-form':!timeIsUp, 'disabled':timeIsUp}" >
      <mat-form-field class="example-full-width" align="center">
        <mat-label>Réponse</mat-label>
        <input 
          formControlName="answerField" 
          [readonly]="timeIsUp"
          class="large-text" 
          matInput 
          autocomplete="off">
        <mat-error *ngIf="questionForm.get('answerField').hasError('validateAnswer')">
          Answer is <strong>wrong</strong>
        </mat-error>
        <mat-error *ngIf="goodAnswer" style="color:green">Good!</mat-error>
      </mat-form-field>
      <!-- <button 
        class="submit-button" 
        mat-input 
       >Soumettre ⏎
      </button> -->
    </form>
    <button 
    class="submit-button" 
    type="reset"
    mat-input 
    (click)="start()"
   >Start
  </button>
</mat-card-actions>
</mat-card>
